<h1>Producto</h1>
<p>{{product.title}}</p>
<p>Descripción: {{product.description}}</p>
<p>Precio: {{product.price}}</p>
<p>Código: {{product.code}}</p>
<input type="text" id="inputbox">
<div id="conversation"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>